@import "tailwindcss";

:root {
  --background: #0d0d0d;
  --foreground: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
  --font-geist: var(--font-geist);
  --font-geist-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono);
}

.font-geist {
  letter-spacing: 0px;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}
